---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils";

interface Props {
  post: CollectionEntry<"blog">;
  containerStyleOverride?: string;
}
const { post, containerStyleOverride } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
---

<div class={containerStyleOverride ?? "my-8"}>
  <p class="text-gray-400 dark:text-gray-600 text-sm">
    {formatDate(post.data.pubDate)}
  </p>
  <a
    class="inline-flex items-center rounded-lg text-gray-900 dark:text-gray-100 hover:underline"
    href={`/blog/${post.slug}`}
  >
    {post.data.title}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="ml-1 h-4 w-4"
      ><line x1="7" y1="17" x2="17" y2="7"></line><polyline
        points="7 7 17 7 17 17"></polyline></svg
    >
  </a>
  <p class="text-gray-600 dark:text-gray-400">{post.data.description}</p>
  <ul class="flex flex-wrap">
    <li class="mr-3 text-gray-400 dark:text-gray-600 text-sm">
      {remarkPluginFrontmatter.readingTime}
    </li>
    {
      post.data.tags.map((tag: unknown) => (
        <li class="mr-3 text-gray-400 dark:text-gray-600 text-sm font-medium hover:underline">
          <a href={`/tags/${tag}`}>{`#${tag}`}</a>
        </li>
      ))
    }
  </ul>
</div>
